<%- include ('partials/header'); -%>

<div class="container">
    <img class="home-background" src="https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="100%" height="100%">
</div>









<%- include ('partials/footer'); -%>




