<%- include ('partials/header'); -%>

<div style="margin-left: 1%;">
    <a href="/signup">CREATE ACCOUNT</a>
    <br/>
    <a href="/login">LOGIN</a>
    <br/>
    <a href="/search">SEARCH</a>
    <br/>
    <a href="#">INSERT</a>
    <br/>
    <a href="#">UPDATE</a>
    <br/>
    <a href="#">DELETE</a>
    <br/>
    <a href="/exit">EXIT</a>
    <br/>
  </div>

<div class="container" id="search-field">
    <a href="/search"><button>Go Back to List of Tables</button></a>
</div>

<hr/>

<div class="container list-spacer" id="search-results">

    <% for(var i = 0; i < searchData.length; i++) { %>
        <p><%= searchData[i] %></p>
    <% } %>

</div>

<!-- result should be changed to searchData soon, also a new ejs page for searchData -->
<!-- can apply filter to js file too -->

<style>
    #search-field {
        align-content: center;
        text-align: center;
        color: black;
        margin-top: 5%;
    }
    #search-input {
        max-width: 7000px;
        width: 700px;
    }
    #search-results {
        text-align: center;
        align-content: center;
        margin: auto;
    }
    
</style>

<%- include ('partials/footer'); -%>
