<%- include ('partials/header'); -%>

<div class="container" id="search-field">
    <a href="/search"><button>Search Again</button></a>
</div>

<div class="container" id="search-results">
    <p> <%= searchData %> </p>
</div>

<!-- result should be changed to searchData soon, also a new ejs page for searchData -->

<style>
    #search-field {
        align-content: center;
        text-align: center;
        color: black;
        margin-top: 5%;
    }
    #search-input {
        max-width: 1000px;
        width: 1000px;
    }
    #search-results {
        text-align: center;
        align-content: center;
        margin: auto;
    }
    
</style>

<%- include ('partials/footer'); -%>
